<nav>
  <div class="region region-header-menu">
    <div id="block-system-main-menu" class="block block-system block-menu">
      <div class="content">
        <ul class="dropdown-menu porto-nav">
          <li class="dropdown" id="menu-about-us"><a href="/about-us">about-us</a>
            <ul class="dropdown-menu porto-nav">
              <li id="menu-about-us-membership"><a href="/about-us/membership">membership</a></li>
              <li id="menu-about-us-executive-committee"><a href="/about-us/executive-committee">executive committee</a></li>
              <li id="menu-about-us-annual-meeting" ><a href="/about-us/annual-meeting">annual meeting</a></li>
              <li id="menu-about-us-ieee-vgtc-visualization-pioneers-group" ><a href="/about-us/ieee-vgtc-visualization-pioneers-group">VIS pioneers group</a></li>
              <li id="menu-about-us-charter" ><a href="/attachments/charter/charter_2015-Jul-31.pdf">charter</a></li>
              <li id="menu-about-us-newsletters" ><a href="/about-us/newsletters">newsletter</a></li>
            </ul>
          </li>
          <li class="dropdown" id="menu-conferences"><a href="/conferences">conferences</a>
            <ul class="dropdown-menu porto-nav">
              <li id="menu-conferences-starting-ieee-vgtc-event"><a href="/conferences/starting-ieee-vgtc-event">starting an ieee vgtc event</a></li>
              <li id="menu-conferences-ethics-guidelines"><a href="/conferences/ethics-guidelines">ethics guidelines</a></li>
              <li id="menu-conferences-currently-sponsored-events" class="dropdown-submenu"><a href="/conferences/currently-sponsored-events">currently sponsored events</a>
                <ul class="dropdown-menu porto-nav">
                  <li id="menu-conferences-currently-sponsored-events-biovis"><a href="/conferences/currently-sponsored-events/biovis" title="BioVis">BioVis</a></li>
                  <li id="menu-conferences-currently-sponsored-events-eurovis"><a href="/conferences/currently-sponsored-events/eurovis" title="EuroVis">EuroVis</a></li>
                  <li id="menu-conferences-currently-sponsored-events-ismar"><a href="/conferences/currently-sponsored-events/ismar" title="ISMAR">ISMAR</a></li>
                  <li id="menu-conferences-currently-sponsored-events-ldav"><a href="/conferences/currently-sponsored-events/ldav" title="LDAV">LDAV</a></li>
                  <li id="menu-conferences-currently-sponsored-events-pacific-vis"><a href="/conferences/currently-sponsored-events/pacific-vis" title="Pacific Vis">Pacific Vis</a></li>
                  <li id="menu-conferences-currently-sponsored-events-vis"><a href="/conferences/currently-sponsored-events/vis" title="VIS">VIS</a></li>
                  <li id="menu-conferences-currently-sponsored-events-vr"><a href="/conferences/currently-sponsored-events/vr" title="VR">VR</a></li>
                  <li id="menu-conferences-currently-sponsored-events-cga-viewpoints"><a href="/conferences/currently-sponsored-events/cga-viewpoints" title="CG&amp;A Viewpoints">CG&amp;A Viewpoints</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="dropdown" id="menu-awards"><a href="/awards">awards</a>
            <ul class="dropdown-menu porto-nav">
              <li id="menu-awards-visualization-technical-awards"><a href="/awards/visualization-technical-awards">visualization technical awards</a></li>
              <li id="menu-awards-virtual-and-augmented-reality-technical-awards"><a href="/awards/virtual-and-augmented-reality-technical-awards">virtual and augmented reality technical awards</a></li>
              <li id="menu-awards-visualization-academy"><a href="/awards/visualization-academy" title="">visualization academy</a></li>
              <li id="menu-awards-service-awards"><a href="/awards/service-awards" title="">service awards</a></li>
              <li><a href="http://vacommunity.org/ieeevpg/bestthesis/">visualization dissertation award</a></li>
              <li><a href="http://ieeevr.org/VR_best_dissertation/index.html">virtual and augmented reality dissertation award</a></li>
            </ul>
          </li>
          <li class="dropdown" id="menu-publications"><a href="#">publications</a>
            <ul class="dropdown-menu porto-nav">
              <li id="menu-publications-journal"><a href="/publications/journal">journal template</a></li>
              <li id="menu-publications-conference"><a href="/publications/conference">conference template</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<script>
	let curMenu = "menu";
	window.location.href.split("/").splice(3).forEach( function(f){
		curMenu += "-" + f.split(".")[0];
		var element = document.getElementById(curMenu);
		if( element != null ){
			element.classList.add("active");
			element.style.fontWeight = "bold";
		}
	});
</script> 
