<nav>
	<div class="region region-header-menu">
	<div id="block-system-main-menu" class="block block-system block-menu">

	<div class="content">
		<ul class="dropdown-menu porto-nav">
			<li class="dropdown active"><a href="/about-us" class="active-trail">about-us</a>
				<ul class="dropdown-menu porto-nav">
					<li><a href="/about-us/membership">membership</a></li>
					<li class="active"><a href="/about-us/executive-committee" class="active-trail active">executive committee</a></li>
					<li><a href="/about-us/annual-meeting">annual meeting</a></li>
					<!--li><a href="/about-us/national-initiatives" title="">national initiatives</a></li-->
					<li><a href="/about-us/ieee-vgtc-visualization-pioneers-group">VIS pioneers group</a></li>
					<li><a href="/about-us/charter">charter</a></li>
					<li><a href="/about-us/newsletters">newsletter</a></li>
				</ul>
			</li>
			<li class="dropdown"><a href="/conferences">conferences</a>
				<ul class="dropdown-menu porto-nav">
					<li><a href="/conferences/starting-ieee-vgtc-event">starting an ieee vgtc event</a></li>
					<li><a href="/conferences/ethics-guidelines">ethics guidelines</a></li>
					<li class="dropdown-submenu"><a href="/conferences/currently-sponsored-events">currently sponsored events</a><!--/li>
					<li class="dropdown-submenu"><a href="/archives">archives</a>-->
							
						<ul class="dropdown-menu porto-nav">
							<li><a href="/conferences/currently-sponsored-events/biovis" title="BioVis">BioVis</a></li>
							<li><a href="/conferences/currently-sponsored-events/eurovis" title="EuroVis">EuroVis</a></li>
							<li><a href="/conferences/currently-sponsored-events/ismar" title="ISMAR">ISMAR</a></li>
							<li><a href="/conferences/currently-sponsored-events/ldav" title="LDAV">LDAV</a></li>
							<li><a href="/conferences/currently-sponsored-events/pacific-vis" title="Pacific Vis">Pacific Vis</a></li>
							<li><a href="/conferences/currently-sponsored-events/vis" title="VIS">VIS</a></li>
							<li><a href="/conferences/currently-sponsored-events/vr" title="VR">VR</a></li>
							<li><a href="/conferences/currently-sponsored-events/cga-viewpoints" title="CG&amp;A Viewpoints">CG&amp;A Viewpoints</a></li>
						</ul>								
					</li>

				</ul>
			</li>
			<li class="dropdown"><a href="/awards">awards</a>
				<ul class="dropdown-menu porto-nav">
					<li><a href="/awards/visualization-technical-awards">visualization technical awards</a></li>
					<li><a href="/awards/virtual-and-augmented-reality-technical-awards">virtual and augmented reality technical awards</a></li>
					<!--li><a href="/awards/technical-awards-criteria" title="">visualization technical awards criteria</a></li-->
					<li><a href="/awards/visualization-academy" title="">visualization academy</a></li>
					<li><a href="/awards/service-awards" title="">service awards</a></li>
					<li><a href="http://vacommunity.org/ieeevpg/bestthesis/">dissertation award recipients</a></li>
				</ul>
			</li>
			<li class="dropdown"><a href="#">publications</a>
				<ul class="dropdown-menu porto-nav">
						<li><a href="/publications/journal">journal template</a></li>
						<li><a href="/publications/conference">conference template</a></li>
				</ul>
			</li>
			
			<!--li><a href="/conferences/cfp" title="">call for papers</a></li-->
		</ul>
	</div>
		
	</div>
	</div>
</nav>

<script>
	console.log( window.location.href );
</script>
